@import "tailwindcss";


/* Incrase the height of the slide component and its 'height' prop to 
   lenghten its size. */
.my-slide-component {
  height: 55vh; /* 50% of viewport height */
  display: flex;
  justify-content: center;
  align-items: center; 
} 
/* override the RSCC because it automatically configure things */
.react-stacked-center-carousel  {
  display: flex !important;
  align-items: center !important;
}

.button::after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  border-radius: 20%;
  background-color: transparent;
  transition: background-color 0.5s;
  z-index: -1;
}
.button:hover::after {
  background-color: #dbc1ac;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-silk-cream : #dbc1ac;

  --shadow-custom: 5px 5px 0px 0px rgba(0,0,0,0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body.dark {
  
}
